<div class="course-add">
    <app-breadcrumbs [currentPageTitle]="isEditMode ? course.title : 'Новый курс'"></app-breadcrumbs>
    <div class="course-add__container">
        <div class="course-add__wrapper">
            <h2 class="course-add__title">{{ isEditMode ? 'Редактирование курса' : 'Новый курс' }}</h2>
              <form 
                class="course-add__form" 
                [formGroup]="courseForm" 
                (ngSubmit)="onSave()"
            >
                <div class="course-add__field">
                <label class="course-add__label">Наименование*</label>

                <input 
                    type="text" 
                    class="course-add__input"
                    formControlName="title"
                />

                <div class="course-add__error" *ngIf="hasError('title', 'required')">
                    Наименование обязательно
                </div>

                <div class="course-add__error" *ngIf="hasError('title', 'maxlength')">
                    Максимальная длина — 50 символов
                </div>
                </div>

                <div class="course-add__field">
                <label class="course-add__label">Описание*</label>

                <textarea 
                    class="course-add__textarea"
                    formControlName="description"
                    rows="5"
                ></textarea>

                <div class="course-add__error" *ngIf="hasError('description', 'required')">
                    Описание обязательно
                </div>

                <div class="course-add__error" *ngIf="hasError('description', 'maxlength')">
                    Максимальная длина — 500 символов
                </div>
                </div>

                <div class="course-add__field">
                    <label class="course-add__label">Продолжительность*</label>

                    <app-duration-input 
                        class="course-add__duration"
                        [control]="durationControl"
                    ></app-duration-input>

                    <div class="course-add__error" *ngIf="hasError('duration', 'required')">
                        Продолжительность обязательна
                    </div>

                    <div class="course-add__error" *ngIf="hasError('duration', 'pattern')">
                        Допускаются только числа
                    </div>
                </div>

                <div class="course-add__field">
                    <label class="course-add__label">Дата*</label>
                    
                        <p-calendar
                            formControlName="creationDate"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            placeholder="dd/mm/yyyy"
                            class="p-fluid"
                        ></p-calendar>

                    <div class="course-add__error" *ngIf="hasError('creationDate', 'required')">
                        Дата обязательна
                    </div>
                </div>

                <div class="course-add__field">
                    <label class="course-add__label">Авторы*</label>

                    <div class="course-add__authors">
                        <app-authors-select [control]="authorsControl"></app-authors-select>
                    </div>
                     <div class="course-add__error" *ngIf="hasError('authors', 'required')">
                        Необходимо указать хотя бы одного автора
                    </div>
                </div>

                <div class="course-add__actions">
                <button 
                    type="button" 
                    class="course-add__button course-add__button--cancel button" 
                    (click)="onCancel()"
                >
                    Отмена
                </button>

                <button 
                    type="submit" 
                    class="course-add__button course-add__button--submit button"
                    [disabled]="courseForm.invalid"
                >
                    Сохранить
                </button>
                </div>
            </form>
        </div>
  </div>
</div>