.header {
    background-color: #F8FAFC;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 56px;
    }

    &__container {
        display: flex;
        gap: 1rem;
    }

    &__person, &__exit {
        cursor: pointer;
    }

    &__icon {
        margin-bottom: -7px;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
   .header {
        &__wrapper {
            padding: 12px;
        }
    }
}