<header class="header">
    <div class="header__wrapper">
        <app-logo></app-logo>
        <div class="header__container">
            <div class="header__person">
                <img src="assets/images/user.svg" alt="Profile" class="header__icon">
                <span class="header__username">Ножкина Светлана</span>
            </div>
            <div class="header__exit">
                <img src="assets/images/sign-out.svg" alt="Logout" class="header__icon">
                <span class="header__exit-text">Выход</span>
            </div>
        </div>
    </div>
</header>