* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E2E8F0;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

app-footer {
  margin-top: auto;
}

.button {
    padding: 12px 18px;
    height: fit-content;
    border-radius: 4px;
    background-color: #3B82F6;
    border-color: #3B82F6;
    color: #FFFFFF;
    cursor: pointer;
}
